<div class="card-preview">

    <div class="label-block">
        <div class="label label-discount">-10%</div>
        <div class="label label-new">Новинка</div>
    </div>

    <a class="img-block" href="#">
        <img class="img-fluid" src="@@webRoot/img/card_preview/preview_image_04.jpg" alt="">
    </a>

    <div class="middle-block">
        <a href="#" class="name">Кукла Moxie Mini 538769 Мокси Мини, Ниве</a>
        <div class="rating"><img src="@@webRoot/img/icons/star.svg" alt="">4.5</div>
    </div>

    <div class="bottom-block">
        <div class="price-block">
            <div class="price">10 290 &#8381;</div>
            <div class="price-old">10 990 &#8381;</div>
        </div>
        <button class="btn btn-gradient btn-buy">+<img src="@@webRoot/img/icons/card-cart.svg" alt=""></button>
    </div>
</div>