<div class="desktop-menu-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="catalog-menu">
                    <ul>
                        <li class="active">
                            <a href="#">Конструкторы Lego</a>
                            <ul>
                                <!-- <li><a href="#">Все конструкторы LEGO</a></li> -->
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_01.jpeg" alt=""></div>
                                        <div>Классик</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_02.jpg" alt=""></div>
                                        <div>Техник</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_03.jpg" alt=""></div>
                                        <div>Майнкрафт</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_04.jpg" alt=""></div>
                                        <div>Звездные войны</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_05.jpg" alt=""></div>
                                        <div>Минифигурки</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><img class="img-fluid" src="@@webRoot/img/menu/lego_06.jpg" alt=""></div>
                                        <div>Супер герои</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Куклы и аксессуары</a>
                            <ul>
                                <li><a href="#">Barbie</a></li>
                                <li><a href="#">Enchantimals</a></li>
                                <li><a href="#">Baby Born</a></li>
                                <li><a href="#">My Little Pony</a></li>
                                <li><a href="#">Baby Annabell</a></li>
                                <li><a href="#">Disney Princess</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Мягкие игрушки</a>
                            <ul>
                                <li><a href="#">Любимые герои</a></li>
                                <li><a href="#">Домашние животные</a></li>
                                <li><a href="#">Плюшевые медведи</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Конструкторы Lego</a>
                            <ul>
                                <!-- <li><a href="#">Все конструкторы LEGO</a></li> -->
                                <li><a href="#">Классик</a></li>
                                <li><a href="#">Техник</a></li>
                                <li><a href="#">Майнкрафт</a></li>
                                <li><a href="#">Звездные войны</a></li>
                                <li><a href="#">Минифигурки</a></li>
                                <li><a href="#">Супер герои</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Мягкие игрушки</a>
                            <ul>
                                <li><a href="#">Любимые герои</a></li>
                                <li><a href="#">Домашние животные</a></li>
                                <li><a href="#">Плюшевые медведи</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                        <li>
                            <a href="#">Куклы L.O.L.</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-5">
                <div class="row align-items-end">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_1.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_2.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_3.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_4.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>