<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h5>Категории</h5>

            </div>
            <div class="col-4">
                <div class="row align-items-end">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_1.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_2.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_3.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <a href="#">
                            <img class="img-fluid" src="@@webRoot/img/banner_link_4.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>