<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="catalog-menu">
                <ul>
                    <li class="active">
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Конструкторы Lego</span></a>
                        <ul>
                            <li>
                                <a href="#">
                                    <div>Классик</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Техник</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Майнкрафт</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Звездные войны</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Минифигурки</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Супер герои</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Классик</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Техник</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Майнкрафт</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Звездные войны</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Минифигурки</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Супер герои</div>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    <div>Классик</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Техник</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Майнкрафт</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Звездные войны</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Минифигурки</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Супер герои</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Классик</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Техник</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Майнкрафт</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Звездные войны</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Минифигурки</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Супер герои</div>
                                </a>
                            </li>
                        </ul>
                        <div class="menu-card">
                            <h3 class="menu-card-title">Товар со скидкой</h3>
                            @@include('card_preview_01.html')
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы и аксессуары</span></a>
                        <ul>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Enchantimals</a></li>
                            <li><a href="#">Baby Born</a></li>
                            <li><a href="#">My Little Pony</a></li>
                            <li><a href="#">Baby Annabell</a></li>
                            <li><a href="#">Disney Princess</a></li>
                        </ul>
                        <div class="menu-card">
                            <h3 class="menu-card-title">Товар со скидкой 2</h3>
                            @@include('card_preview_01.html')
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Мягкие игрушки</span></a>
                        <ul>
                            <li><a href="#">Любимые герои</a></li>
                            <li><a href="#">Домашние животные</a></li>
                            <li><a href="#">Плюшевые медведи</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы и аксессуары</span></a>
                        <ul>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Enchantimals</a></li>
                            <li><a href="#">Baby Born</a></li>
                            <li><a href="#">My Little Pony</a></li>
                            <li><a href="#">Baby Annabell</a></li>
                            <li><a href="#">Disney Princess</a></li>
                        </ul>
                        <div class="menu-card">
                            <h3 class="menu-card-title">Товар со скидкой 2</h3>
                            @@include('card_preview_01.html')
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы и аксессуары</span></a>
                        <ul>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Enchantimals</a></li>
                            <li><a href="#">Baby Born</a></li>
                            <li><a href="#">My Little Pony</a></li>
                            <li><a href="#">Baby Annabell</a></li>
                            <li><a href="#">Disney Princess</a></li>
                        </ul>
                        <div class="menu-card">
                            <h3 class="menu-card-title">Товар со скидкой 2</h3>
                            @@include('card_preview_01.html')
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы и аксессуары</span></a>
                        <ul>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Enchantimals</a></li>
                            <li><a href="#">Baby Born</a></li>
                            <li><a href="#">My Little Pony</a></li>
                            <li><a href="#">Baby Annabell</a></li>
                            <li><a href="#">Disney Princess</a></li>
                        </ul>
                        <div class="menu-card">
                            <h3 class="menu-card-title">Товар со скидкой 2</h3>
                            @@include('card_preview_01.html')
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="@@webRoot/img/menu/example.svg" alt=""><span>Куклы L.O.L.</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="menu-card">
                <h3 class="menu-card-title">Товар со скидкой</h3>
                @@include('card_preview_01.html')
            </div>
        </div> -->
    </div>
</div>