<footer class="footer">

    <div class="subscribe">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7">
                    <div class="subscribe-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ваш email" aria-label="Ваш email" aria-describedby="button-addon2">
                            <button class="btn btn-gradient" type="button" id="button-addon2">Подписаться</button>
                        </div>
                        <div class="subscribe-text">Подписываясь, я соглашаюсь с условиями оферты и политикой конфиденциальности</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-3">
                    <a class="d-none d-lg-inline" href="#"><img src="@@webRoot/img/logo.svg" alt=""></a>
                    <a class="d-lg-none" href="#"><img src="@@webRoot/img/logo_mob_footer.svg" alt=""></a>
                </div>
                <div class="col-6 d-lg-none">
                    <a class="" href="#"><img src="@@webRoot/img/slogan_mob.svg" alt=""></a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="#" class="footer-phone">8 (800) 700-34-70</a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="#" class="footer-email">info@toy.ru</a>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="social-block d-flex justify-content-between">
                        <a href="#" target="_blank">
                            <img src="@@webRoot/img/vk.svg" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="@@webRoot/img/facebook.svg" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="@@webRoot/img/ok.svg" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="@@webRoot/img/youtube.svg" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="@@webRoot/img/instagramm.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <button class="btn footer-menu-title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterMenu1" aria-expanded="false" aria-controls="collapseFooterMenu1">
                        Профиль
                    </button>
                    <div class="collapse show" id="collapseFooterMenu1">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">Личный кабинет</a>
                            <a class="nav-link" href="#">Клуб скидок</a>
                            <a class="nav-link" href="#">Правила бонусной программы</a>
                            <a class="nav-link" href="#">Подарочные сертификаты</a>
                            <a class="nav-link" href="#">Обработка персональных данных</a>
                            <a class="nav-link" href="#">Договор оферты</a>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <button class="btn footer-menu-title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterMenu2" aria-expanded="false" aria-controls="collapseFooterMenu2">
                        Компания
                    </button>
                    <div class="collapse show" id="collapseFooterMenu2">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">О компании</a>
                            <a class="nav-link" href="#">Контактная информация</a>
                            <a class="nav-link" href="#">Магазины</a>
                            <a class="nav-link" href="#">Франшиза</a>
                            <a class="nav-link" href="#">Вакансии</a>
                            <a class="nav-link" href="#">Благотворительность</a>
                            <a class="nav-link" href="#">Партнёрская программа</a>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <button class="btn footer-menu-title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterMenu3" aria-expanded="false" aria-controls="collapseFooterMenu3">
                        Сервисы
                    </button>
                    <div class="collapse show" id="collapseFooterMenu3">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">ЧаВо</a>
                            <a class="nav-link" href="#">Корзина подарков</a>
                            <a class="nav-link" href="#">Доставка и оплата</a>
                            <a class="nav-link" href="#">Возврат</a>
                            <a class="nav-link" href="#">Как купить</a>
                            <a class="nav-link" href="#">Как выбрать игрушку</a>
                            <a class="nav-link" href="#">Сервис</a>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <button class="btn footer-menu-title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterMenu4" aria-expanded="false" aria-controls="collapseFooterMenu4">
                        Информация
                    </button>
                    <div class="collapse show" id="collapseFooterMenu4">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">Новости</a>
                            <a class="nav-link" href="#">Обзоры</a>
                            <a class="nav-link" href="#">Каталог</a>
                            <a class="nav-link" href="#">Оптовикам</a>
                            <a class="nav-link" href="#">Персонажи</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-auto order-last order-lg-first">
                    <div class="copyright-block">© Интернет-магазин игрушек TOY.RU, 2021</div>
                </div>
                <div class="col-12 col-lg-auto">
                    <div class="payment-systems-block">
                        <img src="@@webRoot/img/visa.svg" alt="">
                        <img src="@@webRoot/img/mastercard.svg" alt="">
                        <img src="@@webRoot/img/yandex.svg" alt="">
                        <img src="@@webRoot/img/web-money.svg" alt="">
                        <img src="@@webRoot./img/mir.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/script.min.js"></script>