<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="nav">
                <a class="nav-link" href="index.html">Главная</a>
                <a class="nav-link" href="category.html">Категория</a>
                <a class="nav-link" href="detail.html">Карточка</a>
            </nav>
        </div>
    </div>
</div>

<div class="header">
    <div class="header-top-block">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link city-selection"><img src="@@webRoot/img/icons/location.svg" alt="">&nbsp;<span>Москва</span></a>
                    <nav class="nav d-none d-lg-flex">
                        <a class="nav-link" href="#">О компании</a>
                        <a class="nav-link" href="#">Обратная связь</a>
                        <a class="nav-link" href="#">Новости</a>
                        <a class="nav-link" href="#">Оплата и доставка</a>
                        <a class="nav-link" href="#">Франшиза</a>
                        <a class="nav-link" href="#">Магазины</a>
                    </nav>

                    <nav class="nav extra-menu d-none d-lg-flex">
                        <a class="nav-link phone" href="#">8 800 700 34 70</a>
                        <a class="nav-link" href="#"><img src="@@webRoot/img/icons/chat.svg" alt=""> Чат</a>
                        <a class="nav-link" href="#"><img src="@@webRoot/img/icons/order.svg" alt=""> Где мой заказ</a>
                    </nav>
                    <div class="nav extra-menu-mob d-lg-none">
                        <a class="nav-link" href="#"><img src="@@webRoot/img/icons/phone_white.svg" alt=""></a>
                        <a class="nav-link" href="#"><img src="@@webRoot/img/icons/chat_white.svg" alt=""></a>
                        <a class="nav-link" href="#">Еще <img src="@@webRoot/img/icons/arrow_down_white.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main-block d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <a href="/">
                        <img class="img-fluid" src="@@webRoot/img/logo.svg" alt="">
                    </a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-gradient btn-menu dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><img src="@@webRoot/img/icons/menu.svg" alt=""> Меню</button>
                    <div class="dropdown-menu dropdown-desktop-menu" data-bs-popper="none">
                        @@include('./dropdow-megamenu.html')
                    </div>
                </div>
                <div class="col">
                    <div class="search-block">
                        <input class="form-control" type="search" placeholder="Поиск по каталогу" aria-label="Поиск по каталогу">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="icon-menu-block d-flex align-items-center">
                        <a href="#" class="icon-menu-item">
                            <img src="@@webRoot/img/icons/profile.svg" alt="">
                        </a>
                        <a href="#" class="icon-menu-item">
                            <img src="@@webRoot/img/icons/filter.svg" alt="">
                        </a>
                        <a href="#" class="icon-menu-item">
                            <img src="@@webRoot/img/icons/heart.svg" alt="">
                        </a>
                        <a href="#" class="btn btn-gradient btn-cart">
                            <img src="@@webRoot/img/icons/cart.svg" alt=""> <span>2</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="header-mobile-block d-lg-none">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col d-flex flex-nowrap">
                    <button class="btn mob-menu-trigger" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"><img src="@@webRoot/img/icons/burger_mob.svg" alt=""></button>
                    <button class="btn mob-search-trigger"><img src="@@webRoot/img/icons/search_mob.svg" alt=""></button>
                </div>
                <div class="col">
                    <img class="img-fluid" src="@@webRoot/img/logo_mob.svg" alt="">
                </div>
                <div class="col d-flex flex-nowrap">
                    <a href="#" class="btn mob-profile-link"><img src="@@webRoot/img/icons/profile_mob.svg" alt=""></a>
                    <a href="#" class="btn mob-cart-link"><img src="@@webRoot/img/icons/shopping_cart_mob.svg" alt=""> <span>2</span></a>
                </div>
            </div>
        </div>
    </div>

</div>