<div class="header">
    <div class="header-top-block">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <button class="btn btn-link city-selection" href="#">Москва</button>
                    <nav class="nav d-none d-lg-flex">
                        <a class="nav-link" href="#">О компании</a>
                        <a class="nav-link" href="#">Обратная связь</a>
                        <a class="nav-link" href="#">Новости</a>
                        <a class="nav-link" href="#">Оплата и доставка</a>
                        <a class="nav-link" href="#">Франшиза</a>
                        <a class="nav-link" href="#">Магазины</a>
                    </nav>
                    <a class="nav-link" href="#">8 800 700 34 70</a>
                    <nav class="nav d-none d-lg-flex">
                        <a class="nav-link" href="#">Чат</a>
                        <a class="nav-link" href="#">Где мой заказ</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <a href="/">
                        <img class="img-fluid d-none d-lg-inline" src="../img/logo.svg" alt="">
                        <img class="img-fluid d-lg-none" src="../img/logo_mob.svg" alt="">
                    </a>
                </div>
                <div class="col-auto">
                    <button class="btn"><img src="../img/icons/menu.svg" alt=""> Меню</button>
                </div>
                <div class="col-lg">
                    <div class="search-block">
                        <input class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="icon-menu-block d-flex">
                        <a href="#">
                            <img src="../img/icons/profile.svg" alt="">
                        </a>
                        <a class="d-none d-lg-inline" href="#">
                            <img src="../img/icons/filter.svg" alt="">
                        </a>
                        <a class="d-none d-lg-inline" href="#">
                            <img src="../img/icons/heart.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icons/cart.svg" alt=""> <span>2</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>