<div class="header">
    <div class="header-top-block">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <button class="btn btn-link city-selection" href="#">Москва</button>
                    <nav class="nav d-none d-lg-flex">
                        <a class="nav-link" href="#">О компании</a>
                        <a class="nav-link" href="#">Обратная связь</a>
                        <a class="nav-link" href="#">Оплата и доставка</a>
                        <a class="nav-link" href="#">Франшиза</a>
                        <a class="nav-link" href="#">Магазины</a>
                    </nav>
                    <a class="nav-link" href="#">8 (800) 700-34-70</a>
                    <nav class="nav d-none d-lg-flex">
                        <a class="nav-link" href="#">Чат</a>
                        <a class="nav-link" href="#">Где мой заказ</a>
                        <a class="nav-link" href="#">Активировать карту</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto order-0">
                    <a href="/">
                        <img class="img-fluid d-none d-lg-inline" src="../img/logo_slogan.svg" alt="">
                        <img class="img-fluid d-lg-none" src="../img/logo.svg" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg order-2 order-lg-1">
                    <div class="search-block">
                        <input class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
                    </div>
                </div>
                <div class="col-auto order-1">
                    <div class="icon-menu-block d-flex">
                        <a href="#">
                            <img src="../img/icons/profile.svg" alt="">
                            <div>Войти</div>
                        </a>
                        <a class="d-none d-lg-inline" href="#">
                            <img src="../img/icons/filter.svg" alt="">
                            <div>Сравнение</div>
                        </a>
                        <a class="d-none d-lg-inline" href="#">
                            <img src="../img/icons/heart.svg" alt="">
                            <div>Избранное</div>
                        </a>
                        <a href="#">
                            <img src="../img/icons/cart.svg" alt="">
                            <div>Корзина</div>
                        </a>
                        <button class="btn d-lg-none">
                            <img src="../img/icons/burger.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu-block d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><img src="../img/icons/catalog_burger.svg" alt=""> Каталог товаров</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Малышам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мальчикам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Девочкам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Поиск подарка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Скидки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Акции</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>