<div class="modal fade" id="citySelectionModal" tabindex="-1" aria-labelledby="#citySelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="#citySelectionModalLabel">Выберите Ваш город:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="" placeholder="Введите название города">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-gradient text-uppercase">Подтвердить</button>
                    </div>
                    <div class="col-12">
                        <ul class="city-column">
                            <li class="active"><a href="" rel="77000000000">Москва и Мо</a></li>
                            <li><a href="" rel="78000000000">Санкт-Петербург</a></li>
                            <li><a href="" rel="29000001000">Архангельск</a></li>
                            <li><a href="" rel="22000001000">Барнаул</a></li>
                            <li><a href="" rel="32000001000">Брянск</a></li>
                            <li><a href="" rel="33000001000">Владимир</a></li>
                            <li><a href="" rel="34000001000">Волгоград</a></li>
                            <li><a href="" rel="36000001000">Воронеж</a></li>
                            <li><a href="" rel="66000001000">Екатеринбург</a></li>
                            <li><a href="" rel="37000001000">Иваново</a></li>
                            <li><a href="" rel="38000003000">Иркутск</a></li>
                            <li><a href="" rel="16000001000">Казань</a></li>
                            <li><a href="" rel="40000001000">Калуга</a></li>
                            <li><a href="" rel="43000001000">Киров</a></li>
                            <li><a href="" rel="24000001000">Красноярск</a></li>
                            <li><a href="" rel="46000001000">Курск</a></li>
                            <li><a href="" rel="48000001000">Липецк</a></li>
                            <li><a href="" rel="51000001000">Мурманск</a></li>
                            <li><a href="" rel="16000002000">Набережные Челны</a></li>
                            <li><a href="" rel="52000001000">Нижний Новгород</a></li>
                            <li><a href="" rel="42000012000">Новокузнецк</a></li>
                            <li><a href="" rel="23000006000">Новороссийск</a></li>
                            <li><a href="" rel="54000001000">Новосибирск</a></li>
                            <li><a href="" rel="57000001000">Орел</a></li>
                            <li><a href="" rel="58000001000">Пенза</a></li>
                            <li><a href="" rel="59000001000">Пермь</a></li>
                            <li><a href="" rel="10000001000">Петрозаводск</a></li>
                            <li><a href="" rel="61000001000">Ростов-на-Дону</a></li>
                            <li><a href="" rel="62000001000">Рязань</a></li>
                            <li><a href="" rel="63000001000">Самара</a></li>
                            <li><a href="" rel="64000001000">Саратов</a></li>
                            <li><a href="" rel="23000007000">Сочи</a></li>
                            <li><a href="" rel="70000001000">Томск</a></li>
                            <li><a href="" rel="71000001000">Тула</a></li>
                            <li><a href="" rel="72000001000">Тюмень</a></li>
                            <li><a href="" rel="27000001000">Хабаровск</a></li>
                            <li><a href="" rel="74000001000">Челябинск</a></li>
                            <li><a href="" rel="75000001000">Чита</a></li>
                            <li><a href="" rel="14000001000">Якутск</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>