// Default variable overrides
$font-family-base: 'Nunito',
sans-serif;
$body-color: #333333;
// Import
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import './node_modules/bootstrap/scss/bootstrap.scss';
// @import './node_modules/swiper/swiper.scss';
// css
.swiper {
    width: 100%;
    height: 100%;
}