// Default variable overrides
// scss-docs-start theme-color-variables
$primary: #247783;
$secondary: rgba(233, 83, 34, 0.1);
// Body
//
// Settings for the `<body>` element.
$body-bg: #e5e5e5;
$body-color: #333333;
// Links
//
// Style anchor elements.
$link-color: #E95322;
$link-decoration: underline dotted;
$link-hover-color: $primary;
$link-hover-decoration: none;
// scss-docs-start border-radius-variables
$border-radius: 0;
// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: 'Gilroy',
sans-serif;
// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
// scss-docs-start btn-variables
// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0;
// Import
// Navs
// scss-docs-start nav-variables
$nav-link-color: $body-color;
$nav-link-hover-color: $body-color;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: $link-color;
$nav-pills-link-active-bg: #fff;
// scss-docs-end nav-variables
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import './assets/src/style/font.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './node_modules/swiper/swiper.scss';
// @import './node_modules/swiper/modules/navigation/navigation.scss';
@import './node_modules/swiper/modules/pagination/pagination.scss';
@import './node_modules/swiper/modules/free-mode/free-mode.scss';
@import './node_modules/swiper/modules/grid/grid.scss';
// css
// base
@mixin reset-link {
    color: $body-color;
    text-decoration: none;
    &:hover {
        color: $body-color;
    }
}

.page-wrapper {
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
}

a {
    text-decoration-thickness: .125em;
    text-underline-offset: 3px;
}

.btn-gradient {
    background: linear-gradient(to right, #E95322, #FF8F00);
    border: transparent;
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.btn-gradient2 {
    background: linear-gradient(267.5deg, #66C2CF -0.24%, #247783 99.76%);
    border: transparent;
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.section-name {
    @include font-size(44px);
    // font-size: 44px;
    // line-height: 120%;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-more {
    color: #E95322;
    font-size: 16px;
    font-weight: bold;
    background: url(../img/icons/arrow_link.svg) right 30px center no-repeat rgba(233, 83, 34, 0.1);
    padding: 12px 65px 12px 30px;
    &:hover {
        color: #E95322;
    }
    margin: 40px 0;
    @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 20px 0;
    }
}

.nav-pills {
    .nav-link {
        background: none;
        border: 1px solid rgba(233, 83, 34, 0.3);
        color: $body-color;
        @include border-radius($nav-pills-border-radius);
        height: 50px;
        white-space: nowrap;
    }
    .nav-link.active,
    .show>.nav-link {
        border: 2px solid #E95322;
        color: $nav-pills-link-active-color;
        @include gradient-bg($nav-pills-link-active-bg);
    }
}

.card-preview {
    position: relative;
    padding: 20px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    .label-block {
        position: absolute;
        display: flex;
        .label {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            padding: 5px 10px;
            margin-right: 10px;
        }
        .label-discount {
            background-color: #E95322;
        }
        .label-new {
            background-color: #247783;
        }
    }
    .img-block {
        display: block;
        text-align: center;
        // width: 305px;
        // height: 305px;
        margin-bottom: 30px;
    }
    .middle-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .name {
            @include reset-link();
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            height: 44px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .rating {
            display: flex;
            align-items: center;
            color: $body-color;
            font-size: 16px;
            opacity: .5;
        }
    }
    .bottom-block {
        display: flex;
        justify-content: space-between;
        height: 48px;
        .price-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
                font-size: 24px;
                font-weight: 700;
                margin-right: 20px;
                white-space: nowrap;
            }
            .price-old {
                font-size: 20px;
                text-decoration-line: line-through;
                opacity: .5;
                white-space: nowrap;
            }
        }
        .btn {
            width: 70px;
        }
    }
}

// ******
// header
// ******
.header {
    .header-top-block {
        background: linear-gradient(to right, #0091A6, #A2DAE2);
        padding: 5px 0;
        .city-selection {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            padding-left: 0;
            white-space: nowrap;
        }
        .phone {
            color: $primary;
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;
        }
        .nav {
            .nav-link {
                color: #fff;
                font-size: 14px;
            }
            &.extra-menu .nav-link {
                color: $primary;
                font-weight: 700;
                &:last-child {
                    padding-right: 0;
                }
            }
            &.extra-menu-mob .nav-link:last-child {
                padding-right: 0;
            }
        }
        @include media-breakpoint-up(sm) {}
    }
    .header-main-block {
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        .btn-menu {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 18px 42px;
            margin: 0 30px;
            height: 54px;
            img {
                margin-right: 15px;
            }
        }
        .search-block .form-control {
            background-color: #fff;
            border: 1px solid #67C0CD;
            padding: 12px 60px 12px 20px;
            background: url(../img/icons/search.svg) right 20px center no-repeat;
            height: 54px;
            max-width: 570px;
            &::placeholder {
                color: #65BFCC;
                font-size: 16px;
            }
        }
        .btn-cart {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            width: 80px;
            height: 54px;
            img {
                margin-right: 5px;
            }
            span {
                font-size: 13px;
            }
        }
        .icon-menu-block .icon-menu-item {
            padding: 0 15px;
        }
        .search-block .form-control {
            background-color: #fff;
            border: 1px solid #67C0CD;
            padding: 12px 60px 12px 10px;
            background: url(../img/icons/search.svg) right 20px center no-repeat;
            &::placeholder {
                color: #65BFCC;
                font-size: 16px;
            }
        }
        @include media-breakpoint-up(sm) {
            padding: 30px 0 10px 0;
            border: none;
        }
    }
    .header-mobile-block {
        padding: 15px 0;
        .btn-menu {
            width: 100%;
            height: 46px;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            img {
                margin-right: 15px;
            }
        }
        .btn-cart {
            width: 100%;
            height: 46px;
        }
    }
}

#offcanvasMenu {
    .offcanvas-body {
        background-color: #e5e5e5;
        .mobile-catalog-menu {
            // background-color: #247783;
            .accordion-item {
                background-color: transparent;
                border: none;
                .accordion-button {
                    background-color: transparent;
                    box-shadow: none;
                    font-weight: bold;
                    padding-left: .75rem;
                }
                .accordion-collapse {}
            }
            margin-bottom: 30px;
        }
        .mobile-menu-bottom {
            // background-color: #247783;
            background-color: rgba(233, 83, 34, 0.1);
            // background-color: #e5e5e5;
            .nav-link {
                font-weight: bold;
            }
        }
    }
}

.dropdown-desktop-menu {
    background-color: transparent;
    border: 1px solid transparent;
    .desktop-menu-wrapper {
        background-color: #fff;
        padding: 30px;
        // box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }
    .catalog-menu {
        ul {
            position: relative;
            list-style: none;
            li {
                position: static;
                a {
                    @include reset-link();
                    display: block;
                    padding: .5rem 0;
                    font-size: 18px;
                    font-weight: 700;
                    &:hover {
                        color: $primary;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    display: none;
                    li {
                        a {
                            @include reset-link();
                            padding: .5rem 0;
                            font-size: 16px;
                            font-weight: normal;
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        display: block;
                        left: 300px;
                        li {
                            a {}
                        }
                    }
                }
            }
        }
    }
}

// ******
// footer
// ******
.footer {
    .subscribe {
        background: url(../img/subscribe_bg.png) bottom center no-repeat;
        padding-top: 450px;
        margin-bottom: 32px;
        .subscribe-block {
            padding: 30px 0 30px 0;
            .input-group {
                border: 4px solid #fff;
                margin-bottom: 15px;
                .form-control {
                    background-color: #fff;
                    border: transparent;
                    padding: 12px 10px 12px 10px;
                    font-size: 18px;
                    height: 62px;
                    &::placeholder {
                        color: #65BFCC;
                        font-size: 18px;
                    }
                }
                .btn {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 0.375rem 60px;
                    text-transform: uppercase;
                }
                @include media-breakpoint-down(sm) {
                    border: none;
                    flex-direction: column;
                    .form-control {
                        width: 100%;
                        margin-bottom: 15px;
                        height: 50px;
                    }
                    .btn {
                        height: 50px;
                    }
                }
            }
            .subscribe-text {
                color: #fff;
                font-size: 16px;
                opacity: .5;
                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            background: url(../img/subscribe_mob_bg.png) bottom center no-repeat;
            background-size: contain;
            padding-top: 200px;
        }
    }
    .footer-menu {
        .footer-phone {
            @include reset-link;
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 32px;
        }
        .footer-email {
            @include reset-link;
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            margin-top: 32px;
        }
        .social-block {
            margin: 32px 0;
        }
        .footer-menu-item {
            border-bottom: 1px solid rgba(51, 51, 51, .1);
            &:first-child {
                border-top: 1px solid rgba(51, 51, 51, .1);
            }
            .footer-menu-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: #247783;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 24px 0;
                &:focus {
                    box-shadow: none;
                }
                &::after {
                    content: "";
                    width: 16px;
                    height: 16px;
                    transition: transform .2s ease-in-out;
                    background-image: url(../img/icons/collapse_down.svg);
                    transform: rotate(180deg);
                }
                &:not(.collapsed)::after {
                    transform: rotate(0deg);
                }
            }
            .nav {
                padding-bottom: 24px;
                .nav-link {
                    color: $body-color;
                    opacity: .8;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            @include media-breakpoint-up(sm) {
                border: none;
                &:first-child {
                    border-top: none;
                }
                .footer-menu-title {
                    &::after {
                        display: none;
                    }
                }
                .nav {
                    .nav-link {
                        padding-left: 0;
                    }
                }
            }
        }
        @include media-breakpoint-up(sm) {
            .footer-phone {
                font-size: 34px;
                margin: 0;
            }
            .footer-email {
                font-size: 30px;
                margin: 0;
            }
        }
    }
    .footer-copyright {
        padding-bottom: 30px;
        .copyright-block {
            color: $body-color;
            font-size: 14px;
            font-weight: 500;
            opacity: .8;
            text-align: center;
        }
        .payment-systems-block {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
        }
        @include media-breakpoint-up(sm) {
            border-top: 1px solid rgba(51, 51, 51, .1);
            padding-bottom: 0;
            .copyright-block {
                text-align: left;
                padding: 0;
            }
            .payment-systems-block {
                display: flex;
                justify-content: space-between;
                padding: 30px 0;
                img {
                    margin: 0 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// *********
// main page
// *********
.main {
    .top-banner {
        .search-block {
            background: linear-gradient(to right, #0091A6, #A2DAE2);
            padding: 15px 10px;
            .form-control {
                background-color: #fff;
                border: 1px solid #67C0CD;
                padding: 12px 60px 12px 10px;
                background: url(../img/icons/search.svg) right 20px center no-repeat #fff;
                height: 46px;
                &::placeholder {
                    color: #65BFCC;
                    font-size: 16px;
                }
            }
        }
    }
    .age-and-banners {
        margin: 0 0 30px 0;
        .age-block {
            background-color: #FFF3E8;
            overflow-x: hidden;
            padding: 20px;
            .age-item {
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    color: $link-color;
                }
                .age-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    border-radius: 50%;
                    margin: auto;
                    margin-bottom: 10px;
                    .age-title {}
                }
            }
        }
        @include media-breakpoint-up(sm) {
            margin: 60px 0 60px 0;
        }
    }
    .popular-categories {
        margin: 0 0 30px 0;
        .swiper-categories {
            .swiper-slide {
                @include reset-link();
                font-size: 20px;
                text-transform: uppercase;
            }
        }
        @include media-breakpoint-up(sm) {
            margin: 0 0 160px 0;
        }
    }
    .trends {
        margin: 0 0 60px 0;
        .swiper-pills {
            .swiper-slide-thumb-active {
                border: 2px solid #e95322;
                color: #e95322;
                background-color: #fff;
            }
            .nav-link:first-child {
                margin-left: 10px;
            }
        }
        .trends-nav-block {
            margin-bottom: 20px;
        }
        .category-banner {
            overflow: hidden;
            display: flex;
            .category-banner-img {
                position: relative;
                width: 50%;
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 470px;
                }
                @include media-breakpoint-down(sm) {
                    width: 40%;
                    img {
                        height: 365px;
                    }
                }
            }
            .category-banner-content {
                width: 50%;
                padding: 15px 35px 15px 30px;
                .content-logo {
                    max-width: 100%;
                    margin: 30px 0;
                }
                .content-text {
                    color: #fff;
                    font-size: 18px;
                }
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 30px 0;
                    height: 50px;
                    width: 100%;
                }
                @include media-breakpoint-down(sm) {
                    width: 60%;
                    padding: 15px 10px 15px 10px;
                    .content-text {
                        font-size: 14px;
                    }
                }
            }
            &.banner1 {
                background: linear-gradient(122.75deg, #E3000B 22.52%, #E16C00 83.38%);
            }
            &.banner2 {
                background: linear-gradient(270deg, #FFC700 0%, #FFEB36 100%);
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
        }
        @include media-breakpoint-up(sm) {
            margin: 0 0 60px 0;
        }
        .card-preview {
            margin: 0 15px 15px 15px;
            @include media-breakpoint-up(sm) {
                margin: 0;
            }
        }
    }
    .full-page-banner {
        margin-bottom: 40px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
    .discounts {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
    .action {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
    .popular-characters {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
        background: url(../img/character_bg.png) center bottom no-repeat;
        .characters-nav {
            position: relative;
            background: linear-gradient(267.5deg, #FF8F00 -0.24%, #E95322 99.76%);
            padding: 30px 0;
            .characters-name {
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            .characters-description {
                color: #fff;
                font-size: 14px;
            }
            .btn-more {
                background: url(../img/icons/arrow_link_white.svg) right 30px center no-repeat rgba(255, 255, 255, 0.17);
                color: #fff;
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                display: block;
                top: calc(50% - 24px/2);
                width: 48px;
                height: 24px;
                z-index: 10;
                cursor: pointer;
                &.swiper-button-disabled {
                    opacity: 0.35;
                    cursor: auto;
                    pointer-events: none;
                }
            }
            .swiper-button-prev {
                background-image: url(../img/icons/char_slider_left.svg);
                left: 150px;
            }
            .swiper-button-next {
                background-image: url(../img/icons/char_slider_right.svg);
                right: 150px;
            }
            @include media-breakpoint-down(sm) {
                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }
        }
    }
    .novelty {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
    .about {
        background: url(../img/about_bg.png) bottom center no-repeat;
        padding-top: 260px;
        .slogan-img {
            position: relative;
            height: 100%;
            img {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .content-block {
            p {
                font-size: 18px;
                font-weight: 500;
                opacity: .8;
            }
            .btn {
                margin-bottom: 50px;
            }
        }
        .advantage-block {
            margin: 40px 0 0 0;
            .advantage-item {
                display: flex;
                align-items: center;
                margin-bottom: 85px;
                .advantage-img {
                    padding-right: 40px;
                }
                .advantage-title {
                    font-size: 16px;
                }
            }
            @include media-breakpoint-down(sm) {
                .advantage-item {
                    margin-bottom: 20px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            background: url(../img/about_mob_bg.png) top center no-repeat;
            background-size: contain;
            background-position: left 10px top;
            padding-top: 280px;
            .slogan-img {
                display: none;
            }
            .content-block {
                padding-right: 120px;
                p {
                    font-size: 14px;
                    font-weight: 500;
                }
                .btn {
                    margin-bottom: 50px;
                }
            }
        }
    }
    .image-links {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
    .matched-for-you {
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 120px;
        }
    }
    .reviews {
        background: linear-gradient(267.78deg, #5DC4D2 3.17%, #076B79 99.76%);
        padding: 60px 0;
        margin-bottom: 60px;
        .section-name {
            color: #fff;
        }
        .btn-more {
            background: url(../img/icons/arrow_link_white.svg) right 30px center no-repeat rgba(36, 119, 131, 0.35);
            color: #fff;
        }
        .review-item {
            background: rgba(0, 68, 78, 0.1);
            padding: 30px;
            .review-image {}
            .review-name {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                margin: 15px 0;
            }
            .review-description {
                color: #fff;
                font-size: 16px;
                opacity: .8;
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 30px 0;
            margin-bottom: 30px;
        }
    }
    .brands {
        margin-bottom: 30px;
        .brands-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            padding: 0 15px;
            border: 1px solid rgba(51, 51, 51, 0.1);
        }
        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;
        }
    }
}

// sliders css
.swiper-main {
    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        display: block;
        top: calc(50% - 32px/2);
        width: 32px;
        height: 32px;
        z-index: 10;
        cursor: pointer;
        &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
    }
    .swiper-button-prev {
        background-image: url(../img/icons/main_slider_left.svg);
        left: 0;
    }
    .swiper-button-next {
        background-image: url(../img/icons/main_slider_right.svg);
        right: 0;
    }
    @include media-breakpoint-down(sm) {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}

.swiper-categories-wrapper,
.swiper-action-wrapper,
.swiper-card-wrapper,
.swiper-reviews-wrapper,
.swiper-brands-wrapper {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        display: block;
        top: calc(50% - 24px/2);
        width: 48px;
        height: 24px;
        z-index: 10;
        cursor: pointer;
        &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
    }
    .swiper-button-prev {
        background-image: url(../img/icons/card_slider_left.svg);
        left: -60px;
        @include media-breakpoint-down(sm) {
            left: -15px;
        }
    }
    .swiper-button-next {
        background-image: url(../img/icons/card_slider_right.svg);
        right: -60px;
        @include media-breakpoint-down(sm) {
            right: -15px;
        }
    }
}

.swiper-reviews-wrapper {
    .swiper-button-prev {
        background-image: url(../img/icons/review_slider_left.svg);
    }
    .swiper-button-next {
        background-image: url(../img/icons/review_slider_right.svg);
    }
}

.swipper-trends-nav {
    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 10;
        cursor: pointer;
        &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
    }
    .swiper-button-prev {
        background-image: url(../img/icons/pills_slider_left.svg);
    }
    .swiper-button-next {
        background-image: url(../img/icons/pills_slider_right.svg);
    }
}

.swiper-characters {
    .swiper-wrapper {
        .swiper-slide {
            .character-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding: 160px 0 30px 0;
                font-size: 18px;
                text-decoration: none;
                color: $body-color;
                &:hover {
                    color: $body-color;
                }
                .character-img {
                    transition: .5s;
                    img {
                        max-width: 200px;
                        max-height: 280px;
                    }
                }
                .character-name {}
                .character-description {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    .character-name {
                        display: none;
                    }
                    .character-img {
                        img {
                            max-width: 150px;
                            max-height: 230px;
                        }
                    }
                }
            }
            &.swiper-slide-active {
                .character-item {
                    .character-img {
                        transform: scale(1.8) translateY(-30px);
                    }
                    .character-name {
                        display: none;
                    }
                }
            }
        }
    }
}